body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightskyblue;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

#app {
    width: 80%;
    display: flex;
    margin: 2rem auto;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border-radius: 1rem;
    padding-bottom: .5rem;
}

    #app #time {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 1rem;
        flex-direction: column;
        width: 90%;
    }

        #app #time #value {
            font-size: 3rem;
        }

        #app #time #taskname {
            font-size: 2rem;
        }
    
    #app #container {
        padding: .5rem;
        width: 90%;
    }

        #app #container #action-form {
            width: 100%;
            display: flex;
            text-align: center;
            justify-content: center;
            gap: 1rem;
        }

            #app #container #action-form #txt {
                width: 40%;
                border-radius: 1rem;
                padding: .5rem;
                font-size: 20px;
            }

                #app #container #action-form #txt:focus {
                    outline: solid 1px black;
                }

            #app #container #action-form #btn {
                border-radius: 1rem;
                width: 10%;
                padding: .5rem;
                border: solid 2px black;
                background-color: rgb(179, 179, 179);
            }

                #app #container #action-form #btn:hover {
                    background-color: rgb(159, 159, 159);
                    box-shadow: 0 3px 1rem 5px black;
                }

    #app #task {
        font-size: 30px;
        gap: 1rem;
        padding: 1rem;
        width: 90%;
        border: dashed 3px gray;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        
    }

        #app #task .btn-start {
            border-radius: 1rem;
            font-size: 1.5rem;
            padding: .5rem;
            border: solid 2px black;
            background-color: rgb(179, 179, 179);
        }

            #app #task .btn-start:hover {
                background-color: rgb(159, 159, 159);
                box-shadow: 0 3px 1rem 5px black;
            }

            #app #task .material-icons {
                font-size: 2rem;
                color: rgb(4, 255, 0);
            }